---
layout: base
title: トップページ
header: top_page_header
---

<section class="division" aria-labelledby="text-div">
  <header>
    <h2 id="text-div">テキスト事業部</h2>
    <p>読んだり書いたり作ったり。</p>
  </header>
  <article>
    <h3>shelff</h3>
    <p>iPadのための、ロックインしないPDF読書アプリ。TestFlight公開準備中。</p>
  </article>
  <article>
    <h3>isola</h3>
    <p>Rubyistのためのシンプルな静的サイトジェネレータ。このサイトもisolaで作られています。 <%= include 'gh_link', repo: 'isola' %></p>
  </article>
  <article>
    <h3>gepub</h3>
    <p>Ruby製EPUBライブラリ。 <%= include 'gh_link', repo: 'gepub' %></p>
  </article>
</section>

<section class="division" aria-labelledby="lamp-in-daylight-div">
  <header>
    <h2 id="lamp-in-daylight-div">昼行灯事業部</h2>
    <p>昼間でもぼんやり明るくありたい。</p>
  </header>
  <article>
    <h3>raftik</h3>
    <p>小さくてシンプルなWASMランタイム。実装中です。 <%= include 'gh_link', repo: 'raftik' %></p>
  </article>
  <article>
    <h3>Playdate般若心経</h3>
    <p>Playdateのクランクで操作する般若心経。実装中です。 <%= include 'gh_link', repo: 'playdate-hannya' %></p>
  </article>
</section>

